---
import { Image } from '@astrojs/image/components'
import Img1 from '../assets/images/ecchorights.jpg'
// const { project } = Astro.props
const { name, imageUrl, description, link, technologies } = Astro.props
---

<div class='card lg:card-side bg-base-300 shadow-xl rounded-none my-8'>
  <div class='hover:scale-105 ease-in-out duration-300'>
    <a href={link} target='_blank'>
      <Image
        src={imageUrl}
        width={1200}
        aspectRatio={'16:9'}
        format={'jpg'}
        alt=''
        class='max-w-lg'
      />
    </a>
  </div>
  <div class='card-body'>
    <h2 class='card-title'>{name}</h2>
    <p>{description}</p>
    <div>
      <p class='m-0 p-0 text-sm font-bold'>Technologies:</p>
      <ul class='flex flex-row gap-8 list-disc text-xs'>
        {technologies.map((technology: any) => <li>{technology}</li>)}
      </ul>
    </div>
    <div class='card-actions justify-end'>
      <a href={link} target='_blank'>
        <button class='btn btn-primary'>Check this out</button>
      </a>
    </div>
  </div>
</div>
